In [1]:
import pandas as pd

In [35]:
header_list = ['Depth','Pres','Temp','Ptemp','Cnd','Sal','sigt', 'sigtheta']
df = pd.read_csv('SC97nocast',skiprows= 4,header = None,delim_whitespace=True,names=header_list)

In [36]:
df

        Depth   Pres   Temp  Ptemp     Cnd     Sal    sigt  sigtheta
0        20.0   20.2 -1.793 -1.793  26.784  33.973  27.346    27.346
1        21.0   21.2 -1.799 -1.799  26.762  33.949  27.326    27.326
2        22.0   22.2 -1.804 -1.804  26.744  33.930  27.311    27.311
3        23.0   23.3 -1.808 -1.808  26.731  33.915  27.299    27.299
4        24.0   24.3 -1.809 -1.810  26.722  33.902  27.289    27.289
...       ...    ...    ...    ...     ...     ...     ...       ...
115104  310.0  313.6  0.946  0.931  29.840  34.795  27.884    27.885
115105  311.0  314.6  0.943  0.928  29.843  34.801  27.889    27.890
115106  312.0  315.6  0.944  0.930  29.845  34.802  27.890    27.891
115107  313.0  316.6  0.952  0.937  29.840  34.787  27.877    27.878
115108  314.0  317.7  0.964  0.950  29.839  34.770  27.863    27.864

[115109 rows x 8 columns]

In [38]:
df1 = df.loc[(df['Temp'])>=0]
df1['Temp'].mean()

0.4290892318465848